* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f3f5f8;

    color: #252525;
}

.topo {
    height: 75px;

    padding: 0 55px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #0052CC;

    color: white;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.topo nav {
    display: flex;
    gap: 30px;
}

.topo nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.perfil {
    max-width: 950px;

    margin: 35px auto;

    padding: 0 25px;
}

.dadosAluno {
    display: flex;

    align-items: center;

    gap: 25px;

    padding: 30px;

    background-color: white;

    border: 1px solid #e4e7eb;

    border-radius: 14px;
}

.foto {
    width: 110px;
    height: 110px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #eee;

    border-radius: 10px;

    color: #888;
}

.dadosAluno h1 {
    font-size: 25px;

    color: #0052CC;

    margin-bottom: 8px;
}

.dadosAluno p {
    color: #777;

    margin-top: 4px;
}

.informacoes {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 18px;

    margin: 22px 0;
}

.card {
    padding: 22px;

    background-color: white;

    border: 1px solid #e4e7eb;

    border-radius: 12px;
}

.card span {
    display: block;

    color: #777;

    font-size: 13px;

    margin-bottom: 7px;
}

.card strong {
    color: #0052CC;

    font-size: 22px;
}

.historico {
    padding: 28px;

    background-color: white;

    border: 1px solid #e4e7eb;

    border-radius: 14px;
}

.historico h2 {
    margin-bottom: 20px;

    font-size: 19px;
}

.compra {
    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: 15px 0;

    border-bottom: 1px solid #eee;
}

.compra p {
    margin-top: 4px;

    color: #777;

    font-size: 13px;
}

.compra span {
    font-weight: 600;
}

@media (max-width: 650px) {

    .informacoes {
        grid-template-columns: 1fr;
    }

}